@import "./themes";

@include themify($themes);

#omakase-audio-router {
  border-right: 1px solid var(--color-116);

  opacity: 1;
  visibility: visible;
  overflow: hidden;
  transition:
          width 300ms ease-in-out,
          opacity 300ms ease-in-out,
          visibility 300ms ease-in-out;

  &.minimized {
    width: 0 !important;
    opacity: 0;
    visibility: hidden;
  }

  &.maximized {
    opacity: 1;
    visibility: visible;
  }
}

omakase-audio-router {
  .omakase-router-container {
    width: 100%;
    background-color: transparent;
    border: none;
    color: var(--color-69);
    .omakase-router-table tbody {
      border-top: 1px solid var(--color-116);
    }

    &.size-large {
      .omakase-router-table thead th {
        padding-top: 25px;
        &:first-child {
          padding-left: 20px;
        }
        &:last-child {
          padding-right: 20px;
        }
      }
    }

    .omakase-router-toggle {
      border: 1px solid var(--color-118);
      .omakase-router-toggle-inner {
        background-color: var(--color-117);
      }
    }
    .omakase-router-icon {
      &.icon-deselect-all {
        background-image: var(--url-5);
      }

      &.icon-reset-all {
        background-image: var(--url-6);
      }

      &.icon-deselect {
        background-image: url(/assets/images/omakase-player/audio-deselect.svg);
      }

      &.icon-reset {
        background-image: url(/assets/images/omakase-player/audio-reset.svg);
      }

      &.icon-outputs-few {
        background-image: var(--url-7);
      }

      &.icon-outputs-many {
        background-image: var(--url-8);
      }
    }
  }
}
