@import "themes";

@include themify($themes);

.app-dropdown {
  width: 100%;
  background-color: var(--color-12);
  border-radius: 0;
  height: 35px;

  &.small {
    height: 26px;

    .dropdown-toggle {
      padding: 0 12px;
    }
  }

  .dropdown-toggle {
    border-radius: 0;
    text-align: left;
    font-size: 13px;
    padding: 0.375rem 20px;
    border: none;
    display: flex;
    align-items: center;

    .dropdown-toggle-text {
      max-width: 310px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      height: 18px;
    }

    &::after {
      display: none;
    }

    .icon {
      svg {
        height: 18px;
        width: 24px;

        path {
          fill: var(--color-43);
        }
      }
    }
  }

  .dropdown-menu {
    width: 100%;
    border-radius: 0;

    .dropdown-item {
      font-size: 13px;
      padding: 0.375rem 20px;
      overflow: hidden;
      text-overflow: ellipsis;

      &.active {
        background-color: $color-11;
      }
    }
  }
}
