app-inline-edit {
  position: relative;

  .inline-edit-input {
    padding: 4px;
    outline: none;

    line-height: 1;
  }

  .inline-edit-text {
    cursor: pointer;
  }

  .inline-edit-actions {
    display: none;
    position: absolute;
    right: 0;

    span {
      cursor: pointer;

      i {
        font-size: 10pt !important;
      }
    }
  }
}
