@import "themes";

@include themify($themes);

$hover-color-1: var(--color-30);
$hover-color-2: var(--color-29);

.modal-dialog {
  width: 450px;

  .modal-content {
    border: 0;
  }

  .custom-modal {
    border-radius: 5px;
    border: 1px solid var(--color-24);
    background-color: var(--color-25);
    box-shadow: 0 4px 5px var(--color-59);
    font-family: $font-family-nunito;

    .modal-header {
      padding: 22px 20px 0px 35px;

      span {
        font-size: 15px;
        line-height: 18px;
        font-weight: 700;
        color: var(--color-43);
      }
    }

    .modal-body {
      padding: 16px 20px 0 35px !important;
      display: flex;
      justify-content: left;

      p {
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: var(--color-38);
      }

      .input-body {
        justify-content: left;
        align-items: center;
        gap: 30px;

        label {
          font-size: 13px;
          font-weight: 700;
          color: var(--color-38);
          line-height: 18px;
        }

        input {
          width: 200px;
          height: 40px;
          border: 1px solid var(--color-4);
          border-radius: 5px;
          padding: 8px 30px 8px 20px;
          background-color: var(--color-53);
          font-weight: 400;
          font-size: 13px;
          line-height: 18px;
          color: var(--color-38);

          &:focus {
            outline: 0;
          }
        }
      }
    }

    .modal-footer {
      padding: 30px 20px 30px 35px;

      .btn-group {
        gap: 10px;
        margin: 0;

        .btn {
          height: 40px;
          width: 118px;
          font-size: 13px;
          line-height: 18px;
          font-weight: 700;
          border-radius: 5px;
          border: 1px solid;
        }

        .action-button {
          background-color: var(--color-30);
          border-color: var(--color-27);
          color: #fff;

          &:hover {
            filter: brightness(85%);
          }
        }

        .close-button {
          background-color: var(--color-29);
          border-color: var(--color-28);
          color: var(--color-54);

          &:hover {
            filter: brightness(85%);
          }
        }
      }
    }
  }
}
