@import "themes";

@include themify($themes);

.segmentation-list-container {
  flex-wrap: wrap;

  .segmentation-list-item {
    padding: 0 10px;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    animation: fadeIn 1s;
    opacity: 0;
    animation-fill-mode: forwards;
    color: var(--color-92);

    &.active {
      font-weight: 800;
      color: var(--color-38);
    }

    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      margin-top: -1px;
    }

    .segmentation-list-item-name {
      cursor: pointer;
    }

    .segmentation-list-item-color {
      width: 14px;
      height: 14px;
      border-radius: 3px;
      margin: 2px;
      margin-right: 10px;
      cursor: pointer;
    }

    i {
      font-size: 10px;
      vertical-align: top;
      cursor: pointer;
    }

    app-color-picker {
      position: absolute;
      top: 20px;
      z-index: 1;
    }
  }

  @for $i from 1 through 10 {
    .segmentation-list-item.initial:nth-child(#{$i}n) {
      animation-delay: #{$i * 0.2}s;
    }
  }
}
