@import "themes";

@include themify($themes);

.segmentation-wrapper {
  position: relative;
  height: 100%;
  color: var(--color-2);

  #segmentation-marker-list > omakase-marker-list {
    animation: fadeIn 2s;
  }

  .segmentation-menu-trigger {
    position: absolute;
    top: 0;
    right: 10px;
    z-index: 1;
    cursor: pointer;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-position-y: center;
    background-repeat: no-repeat;

    &.disabled {
      opacity: 0.5;
    }

    .icon {
      svg {
        width: 18px;
        height: 18px;

        ellipse {
          fill: var(--color-43);
        }
      }
    }
  }

  .segmentation-menu {
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 10px 20px;
    background-color: var(--color-85);
    border: 1px solid var(--color-86);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;

    .segmentation-menu-item {
      cursor: pointer;
      font-size: 14px;
      font-weight: 600;
      line-height: 28px;
    }
  }

  .segmentation-marker-list {
    .header-cell {
      color: var(--color-43);
    }
  }
}
