@import "themes";

@include themify($themes);

#session-navigation {
  background-color: var(--color-22);

  .btn-group {
    height: 60px;
    padding-right: 10px;
    gap: 10px;

    .btn {
      border-radius: 0 5px 0 0;
      border: 0;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px 10px 0px 10px;

      .icon {
        svg {
          path {
            fill: none;
            stroke: var(--color-2);
          }
        }
      }
    }
  }
}
