$themes: (
  light: (
    color-1: #686a76,
    color-2: #555555,
    color-3: #3e3653,
    color-4: #a7c2d4,
    color-5: #c5ccd3,
    color-6: #d2d2d2,
    color-7: #e8e8e8,
    color-8: #fff9ce,
    color-9: rgba(68, 73, 100, 0.7),
    color-10: rgba(216, 216, 216, 0.3),
    color-11: #ffffff,
    color-12: #d2d2d2,
    color-13: #87b840,
    color-14: #6e7283,
    color-15: #dedede,
    color-16: #dedede,
    color-17: #7b85ba,
    color-18: #ffffff,
    color-19: #ffffff,
    color-20: #555555,
    color-21: #787d91,
    color-22: #f7f7f7,
    color-23: #70737f,
    color-24: #a7c2d4,
    color-25: #e3e3e3,
    color-26: #4e8cb7,
    color-27: #4f748e,
    color-28: #afcde2,
    color-29: #cce9fd,
    color-30: #4e8cb7,
    color-31: #bfece5,
    color-32: #2ab088,
    color-33: #ffeabe,
    color-34: #de9800,
    color-35: #f0d0d0,
    color-36: #e15b5b,
    color-37: #333333,
    color-38: #555555,
    color-39: #b2b5b9,
    color-40: #bfd7e8,
    color-41: #3a4d4b,
    color-42: #cce9fd,
    color-43: #4e8cb7,
    color-44: #5d6b7e,
    color-45: #edefee,
    color-46: #e4e5e5,
    color-47: #f2faff,
    color-48: #bfd7e8,
    color-49: #62c0a4,
    color-50: #ffe790,
    color-51: #00a3e9,
    color-52: #f54a4a,
    color-53: #ffffff,
    color-54: #4e8cb7,
    color-55: #f54a4a,
    color-56: #2ab088,
    color-57: #de9800,
    color-58: #e15b5b,
    color-59: #999999,
    color-60: #3a3d4b,
    color-61: #f4f5f5,
    color-62: #e3e3e3,
    color-63: #bfd7e8,
    color-64: #e8e8e8,
    color-65: #f7f7f7,
    color-66: #ffffff,
    color-67: #bfd7e8,
    color-68: #bfd7e8,
    color-69: #3a3d4b,
    color-70: #87b840,
    color-71: #f5f5f5,
    color-72: #cce9fd,
    color-73: #edefee,
    color-74: #e8e8e8,
    color-75: #cccccc,
    color-76: #62c0a4,
    color-77: #ffffff,
    color-78: #e8e8e8,
    color-79: #62c0a4,
    color-80: #ffe790,
    color-81: #00a3e9,
    color-82: #f54a4a,
    color-83: #555555,
    color-84: #87b840,
    color-85: #e8e8e8,
    color-86: #c5ccd3,
    color-87: #f5f5f5,
    color-88: #cce9fd,
    color-89: #a7c2d4,
    color-90: #a7c2d4,
    color-91: #4e8cb7,
    color-92: #777777,
    color-93: #f58721,
    color-94: #4e8cb7,
    color-95: #f5f5f5,
    color-96: #a7c2d4,
    color-97: #dbdbdb,
    color-98: #cce9fd,
    color-99: #5d6b7e,
    color-100: #edefee,
    color-101: rgba(187, 187, 187, 0.4),
    color-102: #bbbbbb,
    color-103: #777777,
    color-104: #cce9fd,
    color-105: #cce9fd,
    color-106: rgba(78, 140, 183, 0.5),
    color-107: #bfd7e8,
    color-108: #ffffff,
    color-109: #a7c2d4,
    color-110: #f2faff,
    color-111: #bfd7e8,
    color-112: #a7c2d4,
    color-113: #cce9fd,
    color-114: #e8e8e8,
    color-115: #d2d2d2,
    color-116: #bfd7e8,
    color-117: #a2ca69,
    color-118: #4e8cb7,
    url-1: url(/assets/images/marker-list/light-delete.svg),
    url-2: url(/assets/images/marker-list/light-delete-active.svg),
    url-3: url(/assets/images/light-info-robot.svg),
    url-4: url(/assets/images/light-confused-robot.svg),
    url-5: url(/assets/images/omakase-player/audio-deselect-all-light.svg),
    url-6: url(/assets/images/omakase-player/audio-reset-all-light.svg),
    url-7: url(/assets/images/omakase-player/audio-outputs-few-light.svg),
    url-8: url(/assets/images/omakase-player/audio-outputs-many-light.svg),
  ),
  dark: (
    color-1: #353742,
    color-2: #cacfea,
    color-3: #1c1628,
    color-4: #655372,
    color-5: #13141b,
    color-6: #3a3d4b,
    color-7: #292d43,
    color-8: #fdf5ad,
    color-9: rgba(255, 255, 255, 0.7),
    color-10: #494d5e,
    color-11: #00a3e9,
    color-12: #525979,
    color-13: #62c0a4,
    color-14: #464a5c,
    color-15: #4c5273,
    color-16: #717796,
    color-17: #4e5996,
    color-18: #62c0a4,
    color-19: #f54a4a,
    color-20: #ffe790,
    color-21: #4c526a,
    color-22: #2a2c34,
    color-23: #454857,
    color-24: #656b7e,
    color-25: #454853,
    color-26: #3e44fe,
    color-27: #9598ff,
    color-28: #7c8bc2,
    color-29: #4c5578,
    color-30: #5356bd,
    color-31: #00b69a,
    color-32: #00e9a3,
    color-33: #e3a620,
    color-34: #fdc95a,
    color-35: #ea5a5a,
    color-36: #ff8282,
    color-37: #ffffff,
    color-38: #ffffff,
    color-39: #000000,
    color-40: #181b27,
    color-41: #ffffff,
    color-42: #292d43,
    color-43: #cacfea,
    color-44: #cacfea,
    color-45: #3a3d4b,
    color-46: #292d43,
    color-47: #3a3d4b,
    color-48: #13141b,
    color-49: #525979,
    color-50: #525979,
    color-51: #525979,
    color-52: #525979,
    color-53: #3a3d4b,
    color-54: #ffffff,
    color-55: #ffe790,
    color-56: #ffffff,
    color-57: #ffffff,
    color-58: #ffffff,
    color-59: #000000,
    color-60: #ffffff,
    color-61: #3a3d4b,
    color-62: #4c5273,
    color-63: #717796,
    color-64: #13141b,
    color-65: #3a3d4b,
    color-66: #000000,
    color-67: #ffffff,
    color-68: transparent,
    color-69: #cacfea,
    color-70: #cacfea,
    color-71: rgba(104, 37, 153, 0.1),
    color-72: #1c1628,
    color-73: #525979,
    color-74: #4c516a,
    color-75: #717796,
    color-76: #297065,
    color-77: #00e9a3,
    color-78: #3a3d4b,
    color-79: inherit,
    color-80: inherit,
    color-81: inherit,
    color-82: inherit,
    color-83: #2a2c34,
    color-84: #00e9a3,
    color-85: #4c5273,
    color-86: #717796,
    color-87: rgba(104, 37, 153, 0.1),
    color-88: rgba(0, 163, 233, 0.3),
    color-89: #655372,
    color-90: #00a3e9,
    color-91: #ffffff,
    color-92: #cacfea,
    color-93: #ffe790,
    color-94: #83899e,
    color-95: rgba(58, 61, 75, 0.7),
    color-96: #3a3d4b,
    color-97: #3a3d4b,
    color-98: rgba(62, 68, 254, 0.3),
    color-99: #83899e,
    color-100: rgba(58, 61, 75, 0.7),
    color-101: rgba(131, 137, 158, 0.4),
    color-102: #83899e,
    color-103: #cacfea,
    color-104: rgba(101, 83, 114, 0.7),
    color-105: #655372,
    color-106: #83899e,
    color-107: #655372,
    color-108: rgba(255, 255, 255, 0.4),
    color-109: #7d698c,
    color-110: rgba(101, 83, 114, 0.5),
    color-111: #4c5273,
    color-112: #2e313d,
    color-113: #494d5d,
    color-114: #2a2c34,
    color-115: #494d5d,
    color-116: #655372,
    color-117: #62c0a4,
    color-118: #9ca2c2,
    url-1: url(/assets/images/marker-list/delete.svg),
    url-2: url(/assets/images/marker-list/delete-active.svg),
    url-3: url(/assets/images/info-robot.svg),
    url-4: url(/assets/images/confused-robot.svg),
    url-5: url(/assets/images/omakase-player/audio-deselect-all-dark.svg),
    url-6: url(/assets/images/omakase-player/audio-reset-all-dark.svg),
    url-7: url(/assets/images/omakase-player/audio-outputs-few-dark.svg),
    url-8: url(/assets/images/omakase-player/audio-outputs-many-dark.svg),
  ),
);

@mixin themify($themes) {
  @each $theme-name, $theme-props in $themes {
    .theme-#{$theme-name} {
      @each $key, $value in $theme-props {
        --#{$key}: #{$value};
      }
      @content;
    }
  }
}
